@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    background-color: rgb(103, 103, 103);
    font-family: 'Poppins', arial, sans-serif;
}

.cabecalho {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho img{
    width: 100px;
    margin-left: 30px;
}

.botoes-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.botoes-nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.botao-orcamento {
    background-color: #800020;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
    border: solid 3px #800020;
}

/* AQUI ESTÁ O CÓDIGO DO FOOTER */

footer {
    background-color: #800020;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parte-cima-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    gap: 100px;
}

.parte-cima-indv {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.parte-cima-indv img {
    width: 100px;
}

.parte-cima-indv-txt {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parte-baixo-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.parte-baixo-indv {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 10px;  
}

.parte-baixo-indv a {
    color: white;
    text-decoration: none;
    transition: ease 0.3s transform;
}

.parte-baixo-indv a:hover {
    transform: scale(1.1);
}

.parte-baixo-indv h3 {
    color: #e79128;
}

.linha-footer {
    background-color: #ffd767;
    width: 2px;
    height: 170px;
    margin-inline: 100px;
}