@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    background-color: rgb(103, 103, 103);
    font-family: 'Poppins', arial, sans-serif;
}
/* HEADER */

.titulo {
    font-size: 40px;
    text-align: center;
}

.header__nav{
  position: fixed;
  top: 0;
  width: 100%;
              
  display: grid;
  grid-template-columns: auto 1fr auto;  
  align-items: center;

  padding: 15px 60px;
  background: #1a1a1a;
  z-index: 999;
}

.logo{
  height: 40px;
}

.nav__center{
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav__link{
  color: #fbf4e5;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: #E79128;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav__link:hover::after {
  width: 100%;
}

.nav__right{
  display: flex;
  gap: 15px;
  align-items: center;
}

.btn-login{
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid;
}

.icon-btn{
    position: relative;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 14px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    transition: 0.3s;
}

.icon-btn:hover{
    background: #5b5a5b;
}

.btn-orcamento {
    background-color: transparent;
    border: 1.5px solid #800020;
    color: #800020;
    padding: 8px 22px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-orcamento:hover {
    background-color: #800020;
    color: white;
}

/* PÁGINA PRINCIPAL */

.pagina-sobre-nos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo {
    color: #ffd767;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.pagina-sobre-nos h2 {
    color: #e79128;
    margin-bottom: 50px;
}

.pagina-sobre-nos p {
    color: white;
    width: 500px;
    margin-inline: 50px;
}

.parte-pagina-1 {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: solid 2px #e79128;
    border-bottom: solid 2px #e79128;
    gap: 40px;
    width: 100%;
}

.parte-pagina-1 img {
    width: 952px;
    margin-left: 150px;
    filter: brightness(0.7);
}

.parte-pagina-2 {
    background-color: #1a1a1a;
    border-top: solid 2px #e79128;
    border-bottom: solid 2px #e79128;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
    width: 100%;
}

.parte-pagina-2 img {
    width: 952px;
    margin-right: 150px;
    filter: brightness(0.7);
}

.pagina-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nossos-servicos {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 4px #e79128;
    gap: 200px;
}

.nossos-servicos img {
    height: 600px;
    filter: brightness(0.9);
    margin-top: 100px;
}

.nossos-servicos-botoes {
    color: #e79128;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.nossos-servicos-botoes a {
    color: #e79128;
    border: solid 2px #e79128;
    text-decoration: none;
    text-align: center;
    width: 200px;
    transition: transform ease 0.3s;
}

.nossos-servicos-botoes a:hover {
    transform: scale(1.1);
}

/* AQUI ESTÁ O CÓDIGO DO FOOTER */

footer {
    background-color: #800020;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parte-cima-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    gap: 100px;
}

.parte-cima-indv {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.parte-cima-indv img {
    width: 100px;
}

.parte-cima-indv-txt {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parte-baixo-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.parte-baixo-indv {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 10px;  
}

.parte-baixo-indv a {
    color: white;
    text-decoration: none;
    transition: ease 0.3s transform;
}

.parte-baixo-indv a:hover {
    transform: scale(1.1);
}

.parte-baixo-indv h3 {
    color: #e79128;
}

.linha-footer {
    background-color: #ffd767;
    width: 2px;
    height: 170px;
    margin-inline: 100px;
}